{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}